@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">SalesWeb</h1>

    <p>Welcome! Choose one of the modules below.</p>

    <hr />

    <div>
        <a asp-controller="Departments" asp-action="Index">
            📁 Departments
        </a>
    </div>

    <br />

    <div>
        <a asp-controller="Sellers" asp-action="Index">
            👥 Sellers
        </a>
    </div>
</div>