@using SalesWeb.Communication.Responses
@model IEnumerable<ResponseDepartmentJson>

@{
    ViewData["Title"] = "Departments";
}

<h2>Departments</h2>

<a asp-action="Create">Create New</a>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Name</td>

                <td>
                    <a asp-action="Delete"
                       asp-route-id="@department.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>